{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/index_reservation.css')}}">
{% endblock %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
    <article>
        <h1>Voyage à <strong>{{ select_planet }}</strong></h1>
        <section>
            {{ date_aller }}
            {{ date_retour }}
            {{ voyageur }}
        </section>
    </article>

{% endblock %}
